/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  ul {
    list-style: none;
  }
  
  /* Header Styles */
  header {
    background-color: yellow;
    padding: 0px;
  }
  
  nav {
    background-color: yellow;
    color: white;
    height: 50px;
    display: flex;
    justify-content: right;
    align-items: center;
  }
  
  nav ul {
    display: flex;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li:last-child {
    margin-right: 0;
  }
  
  nav ul li a {
    color: black;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  nav ul li a:hover {
    color: white;
  }
  
  /* Hero Styles */
  .hero {
    background-color: white;
    text-align: center;
    padding: 50px;
  }
  
  .hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .hero p {
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .btn {
    display: inline-block;
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.3s ease;
  }

   /* About.html Styles */
   body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    font-size: 35px;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 30px;
  }
  
  a {
    color: darkblue;
    text-decoration: none;
  }
  
  a:hover {
    color: darkblue;
  }
  
  .footer {
    background-color: wheat;
    color: black;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer p {
    margin: 0;
  }

/* Contact.html Styles */
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  a {
    color: darkblue;
    text-decoration: none;
  }
  
  a:hover {
    color: darkblue;
  }
  
  .footer {
    background-color:wheat;
    color: black;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer p {
    margin: 0;
  }

  /* event.html style */
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  a {
    color: darkblue;
    text-decoration: none;
  }
  
  a:hover {
    color: darkblue;
  }
    
  .footer {
    background-color: wheat;
    color: black;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
   }
    
  .footer p {
    margin: 0;
  }    
  