/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-size: 20px;
  line-height: 1.5;
}


#img1{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#logo{
  border: 0px solid;
  height: 70px;
  width: 70px;
  border-radius: 10px;
}
.logo h1{
  font-size: 20px;
  color: whitesmoke;
  display: flex;
  white-space: nowrap;
}

nav {
  background:linear-gradient(to left ,rgb(57, 5, 109),rgb(53, 2, 2));
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

nav ul {
  display: flex;
  margin-right: 10px;
}

nav ul li {
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.3s color, 0.3s box-shadow;
  display: flex;
  align-items: center;
  gap: 10px;
}
nav ul li a:hover {
  color: wheat;
}
a{
  color: darkblue;
  text-decoration: none;
}

a:hover {
  color: darkblue;
}


ul {
  list-style: none;
}
.hero-container{
  position: relative;
  height: 600px;
}

.hero {
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 50px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.hero .motto {
  font-size: 18px;
  font-weight: bold;
  color: rgb(243, 216, 165);
}

.collepse{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero h1 {
  font-size: 35px;
  margin-bottom: 40px;
  color: white;
}

.hero p {
  font-size: 20px;
  margin-bottom: 20px;
  color: white;
}
section {
  padding: 20px;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  text-align: left;
  
}
.container p{
  text-align: justify;
}
.contact p, .events p{
  text-align: center;
}
.contact ul li{
  text-align: center;
}
.btn {
  display: inline-block;
  background:linear-gradient(to left ,rgb(57, 5, 109),rgb(53, 2, 2));
  color: white;
  padding: 10px 20px;
  border: 2px solid wheat;
  border-radius: 10px;
  transition: 0.3s transform, 0.3s color, 0.3s box-shadow;

}
.btn:hover{
  color: wheat;
  transform: scale(1.1);
  box-shadow: 0px 0px 20px black;
}


.footer {
  background:linear-gradient(to left ,rgb(57, 5, 109),rgb(53, 2, 2));
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.footer-info {
  width: 100%;
  background:linear-gradient(to left ,rgb(57, 5, 109),rgb(53, 2, 2));
  display: flex;
  flex-wrap: wrap;
  padding: 30px 10px;
  gap: 50px;
  justify-content: space-around;
  align-items: center;
}

.footer-info p {
  margin: 0;
  min-width: 200px;
  font-size: 16px;
}
.footer-info p:nth-child(1) a{
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  transition: 0.3s color;
}
.footer-info p:nth-child(1) a:hover{
  color: wheat;
}
.footer-info p:nth-child(2) a{
  display: flex;
  align-items: center;
  color: white;
  gap: 10px;
  transition: 0.3s color;
}
.footer-info p:nth-child(2) a:hover{
  color: wheat;
}
.footer-info p:nth-child(3){
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer-info p img{
  height: 24px;
}

section p{
  text-align: justify;
}

.footer p {
  margin: 0;
}
.copy{
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.3);
}
.copy p{
  font-size: 16px;
  text-align: center;
}
#footerlink{
  color:yellow;
}

p {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.container {
  background-color: white;
  text-align: left;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 20px;
  
}
.container h1 {
  font-size: 35px;
  margin-bottom: 40px;
  text-align: center;
  
}
/* contact */
#contactimg{
  width: 50%;
  display: block;
  margin: auto;
  margin-bottom: 30px;
  border-radius: 30px;
  border: 2px solid wheat;
  box-shadow: 0 0 5px black;
}

.contactform{
  background:linear-gradient(to left ,rgb(57, 5, 109),rgb(53, 2, 2));

  padding: 50px 20px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 30px;
  box-shadow: 0 0 40px black;
}

 .input{
  border: 2px solid #ddd;
  border-radius: 5px;
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  outline: none;
  padding: 0 10px;
  transition: 0.3s border;

}

.input:focus{
  border: 2px solid #222;
}
 

textarea.input{
  height: auto ;
  padding: 10px;
  resize: vertical;
  min-height: 40px;
 }

header{
  top: 0;
  position: sticky;
  z-index: 999;
}

.label{
  color: white;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  padding: 0 5px;
}

.send{
  color: black;
  font-weight: bold;
  font-style: italic;
  border: 2px solid white;
  background-color: #222222;
  color: white;
  border-radius: 5px;
  padding: 0 25px;
  height: 40px;
  align-self: flex-end;
  transition: 0.3s color, 0.3s background-color;
  cursor: pointer;
}

.send:hover{
  color: wheat;
  background-color: #333333;
  box-shadow: 0px 0px 40px wheat;
}

/* event css*/ 
.events-wrapper{
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.event {
  background-color: linear_graident(red,black);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.event-text {
  flex: 1;
}
.event-text a {
  color: #222;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.event-text a h2{
  text-align: center;
  color: darkblue;
}
.event-text a :nth-child(2){
  font-size: 14px;
  color: #444;
}
.event-image {
  flex: 1;
}
.event-image img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 5px 5px 20px black
}

/* about css*/
#aboutimg1{
  float: left;
  width: 500px;
  height: 400px;
  margin-right: 30px;
  border-radius: 20px;
  box-shadow: 5px 5px 20px black;

}
#aboutimg2{
  float: right;
  width: 500px;
  height: 400px;
  margin-left: 30px;
  border-radius: 20px;
  box-shadow: 5px 5px 20px black;
}

